pip install future==0.16.0
pip install neologdn==0.2.1
pip install numpy==1.13.3
pip install olefile==0.44
pip install pexpect==4.2.1
pip install Pillow==4.3.0
pip install ptyprocess==0.5.2
pip install pyknp==0.4.1
pip install pypandoc==1.4
pip install PyYAML==3.12
pip install scikit-learn==0.19.1
pip install scipy==1.0.0
pip install six==1.11.0
pip install sklearn
pip install torchvision==0.1.9
pip install typing==3.6.2
pip install Janome
